body{
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    background-color: #E9E9E9;
    color: #191919;
}

h1, h2, h3, h4, h5{
    margin: 0;
    font-weight: 500;
}

p{ margin: 0; }

a{
    text-decoration: none;
    color: inherit;
}

button{ outline: none; }

/** TOP HEADER */

#top-header{
    position: fixed;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    color: #fff;
    font-size: 14px;
    text-align: center;
    z-index: 100;
    transition: all 0.5s cubic-bezier(1, 0, 0.68, 1);
}
#top-header a:first-child{ text-align: right; }
#top-header a{
    width: 230px;
    text-align: left;
}
#top-header > .circle{
    position: relative;
    height: 10px;
    width: 10px;
    margin: 10px 30px;
    border-radius: 100%;
    background: url(resouces/icons/mail-black.svg) #fff no-repeat center;
    background-size: 0px;
    transition: all 0.5s cubic-bezier(1, 0, 0.68, 1), background-size 0.5s;
    cursor: pointer;
}
#top-header > .circle::before{
    position: absolute;
    left: -5px;
    top: -5px;
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border: solid 2px #fff;
    box-sizing: border-box;
    transition: all 0.5s cubic-bezier(1, 0, 0.68, 1);
}

/* При открытой форме заявки */
#top-header.big{
    height: 70px;
    font-size: 24px;
    font-weight: 500;
    transition: all 0.5s;
}
#top-header.big > .circle{
    width: 42px;
    height: 42px;
    background-size: 26px;
    transition: all 0.5s, background-size 0.5s cubic-bezier(1, 0, 0.68, 1.48);
}
#top-header.big > .circle::before{
    width: 52px;
    height: 52px;
    transition: all 0.5s;
}

/** ORDER FORM */

#order-form{
    position: fixed;
    width: 100%;
    height: 100%;
    display: none; /* Flex когда видимый */
    align-items: flex-start;
    justify-content: center;
    z-index: 90;
}
#order-form .dark{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #19191966;
    opacity: 0;
}
#order-form .wrapper{
    position: relative;
    top: 70px;
    padding: 40px 80px;
    background-color: #E9E9E9;
    color: #2D889A;
    text-align: center;
    transform: translateY(-800px);
    transition: transform .4s;
}
#order-form h2{
    color: #191919;
    font-weight: 700;
    font-size: 24px;
}
#order-form form{ margin-top: 80px; }
#order-form form > div{ 
    margin-bottom: 40px;
    width: 820px;
}
#order-form h3{ 
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
}
#order-form h3 > span{ 
    display: block;
    font-size: 14px;
}
#order-form input:not([type="submit"]), #order-form textarea{
    width: 380px;
    margin: 0 10px;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: solid 2px #2D889A;
    padding: 2px 10px;
    color: #2D889A;
    font-size: 18px;
    box-sizing: border-box;
}
#order-form textarea{ 
    width: 780px;
    max-height: 150px;
    resize: vertical;
}

/** HEADER */

header{
    position: fixed;
    height: 75px;
    width: 100%;
    top: -75px;
    padding: 0 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E9E9E9;
    color: #2D889A;
    box-sizing: border-box;
    z-index: 30;
}
header > div * {
    vertical-align: middle;
}
header img{
    height: 60px;
    mix-blend-mode: darken;
}
header h1{
    margin-left: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
}
header .line{
    display: inline-block;
    position: relative;
    content: '';
    margin: 0 12px;
    height: 50px;
    width: 2px;
    background-color: #2D889A;
}

header nav{
    display: flex;
    font-size: 18px;
    text-transform: uppercase;
}
header .nav-item{
    margin: 0 24px;
    cursor: pointer;
}

/** MEET BOX */

#meet-box{
    position: relative;
    height: 720px;
    min-height: 100vh;
    padding-top: 30px;
    background: url(resouces/img/Meet_BG.png) no-repeat center/cover;
    color: #fff;
    box-sizing: border-box;
}
#meet-box nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    padding: 0 120px;
    text-transform: uppercase;
    font-size: 18px;
}
#meet-box .nav-item{
    cursor: pointer;
}

#meet-box .features{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin-left: 300px;
    pointer-events: none;
}
#meet-box .features h3{
    position: relative;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    pointer-events: auto;
}
#meet-box .features h3::before{
    position: absolute;
    content: '';
    height: 24px;
    width: 24px;
    left: -40px;
    background-image: url(resouces/icons/cube-molecule.svg);
    background-size: cover;
}
#meet-box .features p{
    padding-left: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    height: 0;
}
#meet-box .main-btn{
    margin: 80px auto 0;
    pointer-events: auto;
}

/** FLOORS FEATURES */

.features-list{
    display: flex;
    justify-content: center;
}
.features-list ul{
    padding: 0;
    margin: 0;
    font-size: 14px;
    list-style: none;
    padding: 0 6px;
}
.features-list li:not(:last-child){ margin-bottom: 12px;}
.features-list li{
    width: 510px;
    display: flex;
}
.features-list .icon{
    height: 100px;
    width: 100px;
    background-color: #E9E9E9;
    background-position: center;
    background-size: 64px;
    background-repeat: no-repeat;
    border: solid 4px #2D889A;
    border-radius: 100%;
    box-sizing: border-box;
    z-index: 1;
}
.features-list h5{
    position: relative;
    display: inline-block;
    font-size: inherit;
    color: #E9E9E9;
    background-color: #2D889A;
    text-transform: uppercase;
}
.features-list .left li{
    flex-direction: row-reverse;
    text-align: right;
}
.features-list .left h5{
    right: -50px;
    padding: 5px 50px 5px 10px;
    border-radius: 10px 0 0 10px;
}
.features-list .left p{
    width: 400px;
    padding: 10px 10px 0 0;
}

.features-list .right h5{
    left: -50px;
    padding: 5px 10px 5px 50px;
    border-radius: 0 10px 10px 0;
}
.features-list .right p{
    width: 400px;
    padding: 10px 0 0 10px;
}

/** OUR FEATURES */


.partners{
    margin-bottom: 40px;
    padding: 20px 0;
    background-color: #fff;
}
.partners h3{
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}
.partners .slider{
    display: flex;
    width: 1700px;
    margin: auto;
}
.partners .arrow-right{ transform: rotate(180deg); }
.partners .arrow-left, .partners .arrow-right{
    background: url(resouces/icons/arrow.svg) center/contain no-repeat;
    outline: none;
    border: none;
    width: 70px;
    cursor: pointer;
}
.partners .wrapper{
    display: flex;
    margin: auto;
    width: 1550px;
    overflow: hidden;
}
.partners img:not(:last-child){ margin-right: 25px; }
.partners img{
    display: inline-block;
    max-height: 160px;
}

.our-features-list{
    width: 1400px;
    margin: auto;
    display: grid;
    grid-template: repeat(2, 200px)/repeat(4, 1fr);
    gap: 40px;
    text-align: center;
    font-size: 20px;
}

#our-features .card span{ font-weight: 500; }
#our-features .card:hover .card-disc{
    top: 8px;
}
#our-features .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    cursor: default;
}
#our-features .card-disc{
    position: absolute;
    top: 192px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2D889A;
    font-size: 16px;
    color: #fff;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.42, 0, 0.71, 1.21);
}
#our-features .card-disc .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 192px;
    padding: 15px;
    box-sizing: border-box;
}

/** HOW WE WORK */

#how-we-work ol{ 
    position: relative;
    width: 1400px;
    margin: 0 auto;
    padding: 52px 0;
    text-align: center;
    counter-reset: customCounter;
}
#how-we-work li{
    display: inline-block;
    position: relative;
    top: -20px;
    width: 680px;
    height: 60px;
    padding: 8px 20px;
    background-color: #fff;
    box-sizing: border-box;
    list-style: none;
    font-size: 18px;
    text-align: left;
    vertical-align: top;
}
#how-we-work li:before {
    position: absolute;
    counter-increment: customCounter;
    content:counter(customCounter);
    color: white;
    font-weight: 700;
    font-size: 28px;
    background: #2D889A;
    display: inline-block;
    text-align: center;
    line-height: 60px;
    width: 60px;
    top: 0;
    bottom: 0;
}
#how-we-work li:nth-child(odd):before{ right: 0; }
#how-we-work li:nth-child(even):before{ left: 0; }
#how-we-work li:nth-child(even){
    top: 20px;
    margin-left: 36px;
    padding-left: 80px;
}
#how-we-work li:nth-child(even):not(:last-of-type){
    margin-bottom: 20px;
}

/* Персональные цвета для каждого номера */
#how-we-work li:nth-child(1):before{ background: #2AA6A4; }
#how-we-work li:nth-child(2):before{ background: #2A9EA6; }
#how-we-work li:nth-child(3):before{ background: #2A96A8; }
#how-we-work li:nth-child(4):before{ background: #2A8FAA; }
#how-we-work li:nth-child(5):before{ background: #2A86AC; }
#how-we-work li:nth-child(6):before{ background: #2A7FAD; }

#how-we-work .open-form{
    display: flex;
    align-items: center;
    position: absolute;
    right: 100px;
    top: 50%;
    height: 46px;
    margin-top: -23px;
    padding: 0 15px;
    background: linear-gradient(#2759CC, #304F97);
    border-radius: 23px;
    cursor: pointer;
}
#how-we-work .icon{ height: 28px; }
#how-we-work .mail-icon{
    width: 28px;
    background-image: url(resouces/icons/email.svg)
}
#how-we-work .line{
    width: 1px;
    height: 34px;
    margin: 0 15px;
    background: #fff;
}
#how-we-work .smartphone-icon{
    width: 18px;
    background-image: url(resouces/icons/smartphone.svg)
}

#how-we-work .v-line{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
    width: 4px;
    background: linear-gradient(#2AB0A2, #2A76B0)
}

#how-we-work .circle::before{
    content: '';
    position: absolute;
    top: 50%;
    margin: -13px 0 0 -13px;
    width: 26px;
    height: 26px; 
    border: solid 2px transparent;
    border-radius: 100%;
    box-sizing: border-box;
}
#how-we-work .circle{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 50%;
    margin-left: -9px;
    border-radius: 100%;
}
#how-we-work .circle-top::before{
    border-top: solid 2px #2AB0A2;
    border-right: solid 2px #2AB0A2;
    transform: rotate(-45deg)
}
#how-we-work .circle-top{
    top: 0;
    background-color: #2AB0A2;
}
#how-we-work .circle-bottom::before{
    border-top: solid 2px #2A76B0;
    border-right: solid 2px #2A76B0;
    transform: rotate(135deg)
}
#how-we-work .circle-bottom{
    bottom: 0;
    background-color: #2A76B0;
}

/** PRICE LIST */

#price-list .grid{
    display: grid;
    grid-template: repeat(4, 140px)/repeat(2, 700px);
    gap: 40px;
    justify-content: center;
    margin-top: 60px;
}

.price-item{ display: flex; }
.price-item .dicription{
    position: relative;
    width: 520px;
    padding: 40px 20px 10px 20px;
    background-color: #fff;
}
.price-item h3{
    display: inline-block;
    padding: 6px 18px;
    position: absolute;
    top: -22px;
    left: 40px;
    background-color: #fff;
    border: solid 4px #2D889A;
    color: #2D889A;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    box-sizing: border-box;
}
.price-item .price-box{
    position: relative;
    width: 180px;
    background-color: #2D889A;
    color: #fff;
    text-align: center;
    overflow: hidden;
    user-select: none;
}
.price-item .price-box > span{
    position: absolute;
    top: 20px;
    left: 20px;
    opacity: .5;
}
.price-item .price-box .price{
    font-size: 48px;
    font-weight: 700;
    line-height: 140px;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}
.price-item .price-box span{
    font-size: 28px;
    font-weight: 500;
}
.price-item .price-box sup{  font-size: 56px; }
.price-item .price-box div{
    position: absolute;
    right: -8px;
    bottom: -30px;
    font-size: 96px;
    font-weight: 700;
    opacity: .5;
}

/** DISCOUNT */

#discount{
    height: 280px;
    margin-top: 80px;
    background: linear-gradient(#2AB0A2, #2A76B0);
    box-shadow: inset 0px 0px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

#discount h3{
    width: 240px;
    color: #E9E9E9;
    font-size: 24px;
    text-align: right;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.251);
    line-height: 36px;
}
#discount h3 p:first-child{
    position: relative;
    right: 55%;
}

#discount .percentage{
    height: 140px;
    width: 140px;
    margin: 0 60px;
    background-color: #E9E9E9;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.749);
    border-radius: 100%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
#discount .percentage span{ font-size: 64px; }
#discount .percentage p{
    text-align: center;
    line-height: 140px;
    font-size: 72px;
    font-weight: 700;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
}

#discount .main-btn:hover{ background-color: #f0f0f0; }
#discount .main-btn{ background-color: #E9E9E9; }

#discount .gradient-fill{
    background: linear-gradient(#2AB0A2, #2A76B0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/** GALLERY */

#gallery .wrapper{
    display: flex;
    justify-content: center;
}

.image-packs{
    width: 336px;
    height: 650px;
    overflow: hidden scroll;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.25));
    scrollbar-color: #2D889A transparent;
    scrollbar-width: thin;
}
.image-packs .pack{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 200px;
    padding: 30px 50px;;
    background: url(resouces/img/Image_Pack_Preview.png) #fff
        no-repeat center/cover;
    color: #2D889A;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    box-sizing: border-box;
    cursor: pointer;
}
.image-packs .pack:not(:last-child){
    margin-bottom: 25px;
}

.image-packs::-webkit-scrollbar{ width: 6px; }
.image-packs::-webkit-scrollbar-thumb{
    background-color: #2D889A;
    border-radius: 3px;
}
.image-packs::-webkit-scrollbar-button,
.image-packs::-webkit-scrollbar-track,
.image-packs::-webkit-scrollbar-track-piece,
.image-packs::-webkit-scrollbar-corner,
.image-packs::-webkit-resizer{
    display: none;
}

.image-view{
    position: relative;
    margin-left: 60px;
}
.image-view .header{
    position: absolute;
    left: 0;
    right: 0;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
    background-color: #fff;
}
.image-view .header .address::before{ background-image: url(resouces/icons/placeholder.svg); }
.image-view .header .service-name::before{ background-image: url(resouces/icons/tool-case.svg); }
.image-view .header p:last-child{ margin-left: 80px; }
.image-view .header p{
    position: relative;
    display: inline-block;
    font-size: 14px;
    margin-left: 20px;
}
.image-view .header p::before{
    content: '';
    position: absolute;
    left: -30px;
    top: -3px;
    width: 20px;
    height: 20px;
}
.image-view .header .counter{
    text-align: right;
    color: #C4C4C4;
    font-size: 18px;
    font-weight: 700;
}

.image-view button{
    position: absolute;
    top: 50%;
    width: 100px;
    height: 40px;
    border: none;
    background: #2759CC center/60px no-repeat;
    cursor: pointer;
}
.image-view button::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #223C77;
    z-index: -1;
}
.image-view .previous{
    left: -30px;
    background-image: url(resouces/icons/left-arrow-long.svg);
}
.image-view .previous::before{
    transform: rotate(45deg);
    transform-origin: left bottom 0;
}
.image-view .next{
    right: -30px;
    background-image: url(resouces/icons/right-arrow-long.svg);
}
.image-view .next::before{
    transform: rotate(-45deg);
    transform-origin: right bottom 0;
}

.image-list, .image-view{
    width: 1040px;
    height: 650px;
}

.image-list {
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.image-list img{
    width: 100%;
    height: 100%;
}

/** FOOTER */

footer .wrapper{
    padding: 40px 0;
    border-top: solid 10px #2D889A;
    background: #fff;
}
footer .grid{
    width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    text-align: center;
}
footer .grid-column .icon{
    margin: 0 auto 20px;
    width: 64px;
    height: 64px;
    background-size: cover;
}
footer .grid-column p{
    margin-bottom: 10px;
}
footer .grid-column span{
    font-weight: 500;
}
footer .grid-column h3{
    border-top: solid 4px #2D889A;
    padding: 20px 0;
    font-size: 24px;
    font-weight: 700;
}

footer #map{
    width: 1400px;
    margin: auto;
    text-align: center;
}
footer #map button{
    padding: 0 10px;
    height: 30px;
    width: auto;
    font-size: 14px;
    font-weight: 400;
}
footer #map span{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
}
footer #map span::after{
    content: '';
    position: absolute;
    top: -3px;
    bottom: 0;
    right: 0;
    width: 1px;
    background-color: #fff;
}
footer #map .icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(resouces/icons/map.svg);
    vertical-align: bottom;
}

.footer-down a{ color: #fff; font-weight: 500; }
.footer-down{
    text-align: center;
    padding: 12px 0;
    background-color: #191919;
    color: #9b9b9b;
    font-size: 14px;
}

.flaticon-license{
    padding-top: 4px;
}
.flaticon-license a span{
    color: #69e781;
}

/** TEMPLATES */

.shadow-text{
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

.shadow-down{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.main-btn:hover{ background-color: #3061d3; }
.main-btn{
    text-align: center;
    width: 240px;
    height: 65px;
    border: none;
    background-color: #2759CC;
    color: #fff;
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
    transition: .3s;
    cursor: pointer;
    outline: none;
}

section > h2, footer > h2{
    color: #2D889A;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin: 80px 0 40px;
}

/** MEDIA */

 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
    
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) { 
    
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) { 
    
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { 
    
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399px) { 
    
}

@media (min-width: 1400px) and (max-width: 1700px) { 

    /* Header */
    header{
        padding: 0 40px;
    }
    header .nav-item{
        margin: 0px 18px;
    }

    /* Meet Box */
    #meet-box .main-btn{
        margin-top: 40px;
    }

    /* Our Features */
    .partners .slider{
        width: 1265px;
    }
    .partners .wrapper{
        width: 1125px;
    }
    .our-features-list{
        width: 1300px;
    }

    /* How we Work  */
    #how-we-work li{
        width: 640px;
    }

    /* Price List */
    #price-list .grid{
        grid-template: repeat(4, 140px)/repeat(2, 660px);
    }
    .price-item .dicription{
        width: 480px;
    }

    /* Gallery */
    .image-packs{
        width: 306px;
        height: 590px;
    }
    .image-packs .pack{
        width: 288px;
        height: 180px;
        padding: 20px 40px;
    }
    .image-list, .image-view{
        width: 944px;
        height: 590px;
    }

    /* Footer */
    footer .grid{
        width: 1200px;
    }
}